<?xml version="1.0" encoding="UTF-8"?>


<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="member">

	<insert id="memberJoin">
		insert into member( member_name,
		member_birth, member_email,member_pw, member_connect)
		values( #{memberName}, #{memberBirth},
		#{memberEmail}, #{memberPw}, #{memberConnect})
	</insert>
	
	<select id="overlapEmail" resultType="memberDto">
		select member_email, member_connect from member
	</select>
	
	<select id="memberList" resultType="memberDto">
		select * from member
	</select>

</mapper>